<link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Gothic+A1|Nanum+Gothic" rel="stylesheet">

<div class="category1">
    <nav class="navbar navbar-light bg-light d-flex flex-column justify-content-center align-items-center">
      <div>
        <%=link_to image_tag("bwlogo.png", class:" logologo") %> 
      </div>
    </nav>
  <div class="container-fluid">
    <div class="row">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="width: 100%">
        <div class="carousel-inner" >
          <div class="carousel-item active">
           <%=link_to image_tag("ad1.jpg", height:"250px;", width:"100%", class:"d-block") %> 
          </div>
          <div class="carousel-item">
            <%=link_to image_tag("ad2.jpg", height:"250px;", width:"100%", class:"d-block") %>
          </div>
          <div class="carousel-item">
            <%=link_to image_tag("ad1.jpg", height:"250px;", width:"100%", class:"d-block") %>
          </div>
        </div>
      </div>

      <div class="hotitem d-flex justify-content-center align-items-center">
         <%=link_to image_tag("hot.png", size:"175x60", class:"d-block") %>
      </div>
      
      <% @condoms.each do |condom| %>
        <div class="col-6 card-white" style="width: 18rem;">
          <%= link_to image_tag(condom.image, style:"height: 70%;", class:"card-img-top"), "/hot/#{condom.id}" %>
          <div class="card-body" style="padding: 0px" >
            <p class="card-text text-center text-font" style="margin-bottom : 0px; font-size: 0.8rem"><%= condom.name %></p>
            <p class="card-text text-center text-font" style="color: orange; font-size: 1rem"> <%= '★' * (condom.score || 1) %>            
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

