<link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Gothic+A1|Nanum+Gothic" rel="stylesheet">

<div class="category1">
    <nav class="navbar navbar-light bg-light d-flex flex-column justify-content-center align-items-center">
      <div>
        <%=link_to image_tag("bwlogo.png", class:" logologo") %> 
      </div>
    </nav>
  <div class="container-fluid">
    <div class="row">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="width: 100%">
        <div class="carousel-inner" >
          <div class="carousel-item active">
           <%=link_to image_tag("ad1.jpg", height:"250px;", width:"100%", class:"d-block") %> 
          </div>
          <div class="carousel-item">
            <%=link_to image_tag("ad2.jpg", height:"250px;", width:"100%", class:"d-block") %>
          </div>
          <div class="carousel-item">
            <%=link_to image_tag("ad1.jpg", height:"250px;", width:"100%", class:"d-block") %>
          </div>
        </div>
      </div>

      <div class="hotitem d-flex justify-content-center align-items-center">
         <%=link_to image_tag("hot.png", size:"175x60", class:"d-block") %>
      </div>
      <% index = 1 %>
      <% @condoms.each do |condom| %>
        <%ct = {"normal" => "일반형", "slim" => "초박형", "dot" => "돌기형", "drug" => "도포형"} %>
        
        <div class="col-6 card-white nanum" style="width: 18rem; ">
          <%= link_to image_tag(condom.image, style:"width:100%;  height: 70%;", class:"card-img-top"), "/hot/#{condom.id}" %>
          <div class="row">
          <div class="card-body text-left col-9" style="padding-left: 10%; padding-right:0; padding-top:0; padding-bott margin:0px" >
              <span class="card-text  text-font" style="margin-bottom : 0px; font-size: 0.8rem; font-weight:bold"><span class="badge badge-pill badge-secondary text-white notify-badge"><%=index%></span> <%= truncate(condom.name, length: 8) %></span>
              <br><span class="card-text  text-font" style="font-size: 0.7rem;"> (<%=ct[condom.conType] %>) <i class="fas fa-pen-square"> <%=(condom.comments.count)%> </i>  </span>
          </div>
          <div class = "col-3"style="padding: 0px; margin:0px">
          <p style="font-size: 1.4rem; color:red; font-weight:bold"> <%=condom.score %> </p>
          </div>
          </div>
        </div>
        <% index = index.to_i + 1%>
      <% end %>
    </div>
  </div>
</div>

