<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    
<script src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="bg-warning text-white w-100" style="height=70px;"><h3 class="mt-1 ml-2"><%= link_to '<', find_path, class: "text-white text-left" %></h3></div>
    <div class="hot-img border rounded mt-4"><%=image_tag @condom.image, :style => "width:100%; height:100%" %></div>
    <div class="mt-4"><h4><span class="badge badge-pill badge-secondary">1위</span> <%=@condom.name %></h4></div>
    <div><h6>간단한 설명쓰</h6></div>
    <div class="review--point"><%="★"* (@condom.score || 4) %></div>
</div>
<div class="d-flex flex-column bg-light mt-5" style="height: 400px;">
    <div class="ml-2 mr-2">
        <h4 class="review--title mb-3">NAME의 리뷰</h4>
        <div class="border-bottom mb-2">
            <% n = 1 %>
            <% @comments.each do |r|%>
                <div class="review__contanier border-bottom pb-2">
                    <p class="review__dataandpoint"><span class="review--date"><%= r.created_at.to_date %> | <span class="review--point">
                    <% if r.score == 1 %>
                        ★
                    <% elsif r.score == 2%>
                        ★★
                    <% elsif r.score == 3%>
                        ★★★
                    <% elsif r.score == 4%>
                        ★★★★
                    <% elsif r.score == 5%>
                        ★★★★★
                    <% end %>
                    </span></p>
                    <span class="badge badge-pill badge-dark"><%= n %></span> <%= r.content%>
                </div>
            <% n += 1%>
            <% end %>
        </div>
        <div class="review__form">
            <%= form_for @comment, url: {controller: :home, action: :rating}, remote: true do |f| %>
              <%= f.hidden_field :condom_id, :value => @condom.id %>
              <%= label_tag :score, "별점 주기", class: "field__label"%>
              <div class="field field--starpoint">
               <%= f.radio_button :score, 1, checked: true, id: "point--1", class: "field__radio--button"%>
                 <span class="field__radio--point staron" value="1">★</span>
               <%= f.radio_button :score, 2, id: "point--2", class: "field__radio--button"%>
                 <span class="field__radio--point " value="2">★</span>
               <%= f.radio_button :score, 3, id: "point--3", class: "field__radio--button"%>
                 <span class="field__radio--point" value="3">★</span>
               <%= f.radio_button :score, 4, id: "point--4", class: "field__radio--button"%>
                 <span class="field__radio--point " value="4">★</span>
               <%= f.radio_button :score, 5, id: "point--5", class: "field__radio--button"%>
                 <span class="field__radio--point " value="5">★</span>
              </div>
             <%= label_tag :content, "리뷰 작성", class: "field__content field__label" %>
             <%= f.text_area :content %>
             <%= f.hidden_field :condom_id, value: @condom.id %>
             <%= f.submit "댓글쓰기" %>
            <% end %>
        </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#comment_submit").on("click", function(){
     $("#comment_content").val("");
  
     var p = "★"
     if ($("#score").val() == 1){
         console.log("hi");
       p = "★"
     }
     else if ($("#score").val() == 2){
       p = "★★"
     }
     else if ($("#score").val() == 3){
       p = "★★★"
     }
     else if ($("#score").val() == 4){
       p = "★★★★"
     }
     else{
       p = "★★★★★"
     }
  
     $(".comment").append("<div class='review__contanier'>"+ "<p class='review__dataandpoint'><span class='review--date'>"+
     new Date().toISOString().substring(0,10) + " | "+"<span class='review--point'>"+ p + $("#comment").val() +"</h1>"+
     "</span></span></p>");
    });
  
    $('.field--starpoint span').click(function(e){
    $(".review__form .field__radio--button").removeAttr("checked");
     $(this).parent().children('span').removeClass('staron');
     $(this).addClass('staron').prevAll('span').addClass('staron');
     var x = $(this).attr('value')
     $("#score").val(x);
     $("#star_point").text(x+"점");
     $($(".review__form .field__radio--button")[$(e.target).attr("value")-1]).attr("checked", true); //
     return false;
    });
  </script>
  

<script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

        $( ".star_rating a" ).click(function() {
            $(this).parent().children("a").removeClass("on");
            $(this).addClass("on").prevAll("a").addClass("on");
            return false;
        });
        
        $("#menuButton1").click(function() {
            $(".dropdown-menu1").toggle();
        });

        $("#menuButton2").click(function() {
            $(".dropdown-menu2").toggle("slow");
        });

        $("#menuButton3").click(function() {
            $(".dropdown-menu3").toggle("slow");
        });
</script>